{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "semi": true,
  "parser": "flow",
  "arrowParens": "always"
}
